h2{
    color:aquamarine;
    font-size: 20px;
}
p{
    color:blueviolet;
    font-size: 30px;
}
li{
    color:blue;
    font-size: 30px;
}
title{
    color:red ;
    font-size: 50px;
}
h3{
    color:aquamarine;
    font-size: 30px;
}
#tieude1{
    color:cyan;
    font-size: 20px;
}
.tieud2{
color:chartreuse;
}
form{
    width: 200px;
}
img{
    width: 200px;
    height: 150px;
    text-align: center;
}
.imgcontainer{
    border: 1px solid blue;
}
input{
    padding: 7px;
    margin-top: 10px;
    width: 100%;
    box-sizing: border-box;
}
form{
    width: 500px;
    border: 1px solid green ;
    border-radius: 10px;
    margin: auto ;
}
.container{
    margin: 20px;
}
.imgcontainer{
    margin: 20px;
}
input[type=text],input[type=Password]{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    border: 1px solid red;
    box-sizing: border-box;
}
button{
    background-color: aqua;
    color: black;
    p
}

